<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>HelloWorld ASK WS</display-name>
<servlet>
  <servlet-name>HelloWorldServlet</servlet-name>
  <servlet-class>helloworld.HelloWorldServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>HelloWorldServlet</servlet-name>
  <url-pattern>/hello</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>SessionServlet</servlet-name>
  <servlet-class>session.SessionServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>SessionServlet</servlet-name>
  <url-pattern>/session</url-pattern>
</servlet-mapping>
</web-app>